<section id="order-table-page">
    <ng-header></ng-header>

    <div class="traderWidget">
        <nav>
            <a class="button makeTrade" ng-click="doTrade()">Trade</a>
            <a class="button delete" ng-click="deleteTrades()">Delete All</a>
            <a class="button refresh" ng-click="refreshTrades()">Refresh</a>
        </nav>

        <aside>
            <a class="button image-button graph">Graph</a>
            <a class="button image-button table">Calculator</a>
        </aside>

        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Creation Time</td>
                <td>Side</td>
                <td>Symbol</td>
                <td>Quantity</td>
                <td>Placed</td>
                <td>Executed</td>
                <td>Limit Price</td>
                <td>Priority</td>
                <td>Status</td>
                <td>Trader</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trade in trades | byUser">
                <td>{{trade.id}}</td>
                <td>{{trade.creationTime}}</td>
                <td>{{trade.side}}</td>
                <td>{{trade.symbol}}</td>
                <td>{{trade.quantity}}</td>
                <td>{{trade.quantityPlaced}}</td>
                <td>{{trade.quantityExecuted}}</td>
                <td>${{trade.limitPrice}}</td>
                <td>{{trade.priority}}</td>
                <td>{{trade.status}}</td>
                <td>{{trade.traderId}}</td>
            </tr>
            </tbody>
        </table>

        <ng-custom-modal ng-show="makingTrade"></ng-custom-modal>
    </div>
</section>
